<a href="https://colab.research.google.com/github/raghavendrakulkarni14/Cardiovascular_risk_prediction_classification/blob/main/RaghavendraAKulkarniClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
df=pd.read_csv('/content/drive/MyDrive/Alma Capstone -3 classification/data_cardiovascular_risk.csv')

In [4]:
df.head()

   id  age  education sex  ...    BMI  heartRate  glucose  TenYearCHD
0   0   64        2.0   F  ...    NaN       90.0     80.0           1
1   1   36        4.0   M  ...  29.77       72.0     75.0           0
2   2   46        1.0   F  ...  20.35       88.0     94.0           0
3   3   50        1.0   M  ...  28.26       68.0     94.0           1
4   4   64        1.0   F  ...  26.42       70.0     77.0           0

[5 rows x 17 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3390 entries, 0 to 3389
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3390 non-null   int64
 1   age              3390 non-null   int64
 2   education        3303 non-null   float64
 3   sex              3390 non-null   object
 4   is_smoking       3390 non-null   object
 5   cigsPerDay       3368 non-null   float64
 6   BPMeds           3346 non-null   float64
 7   prevalentStroke  3390 non-null   int64
 8   prevalentHyp     3390 non-null   int64
 9   diabetes         3390 non-null   int64
 10  totChol          3352 non-null   float64
 11  sysBP            3390 non-null   float64
 12  diaBP            3390 non-null   float64
 13  BMI              3376 non-null   float64
 14  heartRate        3389 non-null   float64
 15  glucose          3086 non-null   float64
 16  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(6), object(2)
memory usage: 450.4+ KB

In [6]:
df.describe()

                id          age  ...      glucose   TenYearCHD
count  3390.000000  3390.000000  ...  3086.000000  3390.000000
mean   1694.500000    49.542183  ...    82.086520     0.150737
std     978.753033     8.592878  ...    24.244753     0.357846
min       0.000000    32.000000  ...    40.000000     0.000000
25%     847.250000    42.000000  ...    71.000000     0.000000
50%    1694.500000    49.000000  ...    78.000000     0.000000
75%    2541.750000    56.000000  ...    87.000000     0.000000
max    3389.000000    70.000000  ...   394.000000     1.000000

[8 rows x 15 columns]

In [7]:
df.corr()

                       id       age  education  ...  heartRate   glucose  TenYearCHD
id               1.000000  0.016759  -0.030573  ...   0.024684  0.015517    0.009866
age              0.016759  1.000000  -0.172559  ...  -0.002596  0.116135    0.224927
education       -0.030573 -0.172559   1.000000  ...  -0.046980 -0.038732   -0.052751
cigsPerDay      -0.017249 -0.192335   0.011126  ...   0.066759 -0.068797    0.066778
BPMeds           0.007080  0.124376  -0.019920  ...   0.018107  0.064490    0.088020
prevalentStroke -0.038873  0.059038  -0.034194  ...  -0.019184  0.023607    0.068627
prevalentHyp     0.013236  0.308826  -0.084817  ...   0.150815  0.086658    0.166544
diabetes         0.003690  0.107875  -0.052013  ...   0.039742  0.620211    0.103681
totChol         -0.019889  0.274028  -0.020781  ...   0.087458  0.062723    0.094306
sysBP            0.019676  0.404845  -0.137195  ...   0.178262  0.143090    0.212703
diaBP            0.000832  0.221896  -0.060801  ...   0.174904  0.071499    0.135979
BMI              0.039849  0.138176  -0.133313  ...   0.069655  0.093454    0.066947
heartRate        0.024684 -0.002596  -0.046980  ...   1.000000  0.088334    0.020241
glucose          0.015517  0.116135  -0.038732  ...   0.088334  1.000000    0.138200
TenYearCHD       0.009866  0.224927  -0.052751  ...   0.020241  0.138200    1.000000

[15 rows x 15 columns]

In [16]:
df.isnull().sum()

id                   0
age                  0
education           87
sex                  0
is_smoking           0
cigsPerDay          22
BPMeds              44
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             38
sysBP                0
diaBP                0
BMI                 14
heartRate            1
glucose            304
TenYearCHD           0
dtype: int64

In [17]:
nullcol=['cigsPerDay','BPMeds','totChol','BMI','glucose']

In [18]:
for x in nullcol:
  df[x].fillna(df[x].mean(), inplace=True)

In [21]:
df.dropna(subset = ["heartRate"], inplace=True)

In [22]:
df.isnull().sum()

id                  0
age                 0
education          87
sex                 0
is_smoking          0
cigsPerDay          0
BPMeds              0
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol             0
sysBP               0
diaBP               0
BMI                 0
heartRate           0
glucose             0
TenYearCHD          0
dtype: int64